# fly.toml app configuration file generated for rizzosai-production-new-wild-leaf-8863 on 2025-11-24T12:34:26+11:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'rizzosai-production-new-wild-leaf-8863'
primary_region = 'syd'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
